h1,
h2,
h3,
h4,
h6 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: #f9f7fd;
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  color: #373638;
}

.btn-branding {
  background: #6c62ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
