:root {
  --branding-color: #6ca2a7;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f1e5;
  --background-gradient: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

body {
  font-family: var();
  text-align: justify;
}

h1,
h2,
h3,
h4,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

img {
  background: var(--secondary-color);
  border: thin solid rgba(39, 33, 66, 0.7);
}

.hero {
  background-image: url("/images/hero-background.png");
  background-attachment: fixed;
  background-position: center;
  min-height: 90vh;
  text-align: center;
  padding: 160px 20px;
  color: white;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  color: #373638;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: #373638;
}

.btn-branding {
  background-color: white;
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  box-shadow: 5px 5px 5px grey;
  color: var(--branding-color);
}

.btn-granding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-granding-outline:hover {
  background: var(--branding-color);
  color: white;
}

.project-description {
  padding: 120px 60px 0;
  text-align: center;
}

@media (max-width: 720px) {
  h1 {
    font-size: 38px !important;
    line-height: 2;
  }

  h2 {
    font-size: 38px;
  }

  .justify-content-between {
    justify-content: center !important;
  }

  .hero {
    padding: 80px 20px;
    min-height: 50%;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(220, 217, 249) 0%,
      rgb(172, 224, 217) 89.8%
    );
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h2 {
    font-size: 32px;
  }

  .resume-bullets {
    text-align: left;
  }
}

.border-radius {
  border-radius: 55px;
}

.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.content p {
  font-size: 14px;
}

.content h1 {
  font-size: 64px;
  line-height: 1;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}
nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: rgba(39, 33, 66, 0.7);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;

  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

.resume-bullets {
  font-size: 14px;
}

.flag {
  font-size: 30px;
}
